.screen{
    width: 40vw;
    height: 24.7vw;
    margin-left: 30vw;
    margin-right: 30vw;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.hide {
    visibility: hidden;
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .question {
    text-align: center;
  }
  
  .cards {
    width: 130%; /* Adjust as needed */
    margin: auto;
  }
  
  .card {
    margin-bottom: 20px; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
  }
  
  .container {
    padding: 20px;
  }
  
  button {
    width: 200px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin: 30px;
    font-size: 16px;
  }
  
  /* Style radio button labels */
  input[type="radio"] {
    display: none;
  }
  
  label {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
    padding: 5px 10px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style radio button labels when selected */
  input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
  }
  